@media (max-width: 1000px) {
    .top-wrapper{
        width: 910px;
    }
    .top-wrapper h1 {
        font-size: 50px;
    }
    .top-wrapper p {
        font-size: 20px;
    }
    .service {
        width: 25%;
    }
	.services-wrapper {
        width: 900px;

    }
    .heading h2 {
        padding-right: 170px;
    }
    .about {
        width: 100%;
        padding-left: 120px;

    }
    .anggota {
        padding: 10px;
    }
    .poster {
        padding-top: 200px;
    }
    .poster img {
        width: 910px;
        height: 300px;
    }
    .left-text h1 {
        font-size: 25px;
    }
    .left-text p {
        font-size: 15px;
    }

    .footer-copyright {
        width:910px;
    }
    .footer-logo {
        padding-left: 150px;
    }
    .footer-list {
        padding-left: 80px;
    }
}

@media (max-width: 670px ) {
    .about {
        width: 800px;
    }
    .left-text{
      text-align: left;
      width: 400px;
    }
    .left-text h1{
      font-size:24px;
      line-height:36px;
    }
    .left-text p{
      font-size:14px;
      line-height:20px;
    }
    .heading{
      width: 100%;
    }
    .left{
      width: 800px;
    }
    .right{
      width: 800px;
    }
    footer  {
        width:800px;
        text-align: center;
    }
    .footer-logo {
        padding-right: 50px;
    }
    .btn {
        width: 205px;
    }
    .header-right {
        display:none;
    }
    .menu-icon {
        display:block;
    }
}
