* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Calibri";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}

header {
  height: 90px;
  width: 100%;
  background-color:#fff;
  position:fixed;
  top:0;
  box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.3);
  z-index:10;
}

.header-left {
  font-family: "Calibri";
  font-weight: bold;
  float: left;
  font-size: 36px;
  color: black;
}

.header-left span{
  color:#0070C0;
}

.header-right li {
  font-family: Calibri;
  font-size: 20px;
  font-weight: bold;
  float: right;
  padding-top:12px;
}

.header-right a {
  padding: 0 25px;
  color: black;
  display: block;
}

.header-right a:hover {
  color: #0070C0;
  transition: all 0.5s;
}

.top-wrapper {
  height: 600px;
  padding: 180px 0 100px 0;
  background-image: url(https://1.bp.blogspot.com/-0NqgL2cuJew/Xu3CqcqrwdI/AAAAAAAABHg/wiV59srPmnYz5FDCMK_12TqjXnq-9NNtACLcBGAsYHQ/s1600/teama38.png);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  width: 900px;
  opacity: 1;
  font-size: 80px;
  letter-spacing: 4px;
  margin-bottom: 1px;
}

.top-wrapper p {
  width: 900px;
  font-size: 28px;
  opacity: 1;
  margin-bottom: 3px;

}
.about{
  text-align: center;
  height: 650px;
  font-size: 20px;
  padding-top: 10px;
}
.lingkaran1 img{
  width: 150px;
  height: 150px;
  background: #0984e3;
  border-radius: 80%;
  padding: 5px 5px;
  display: block;
  margin:auto;
}
.heading h2{
  padding-top: 50px;
}
.ketua p{
  font-size: 20px;
}
.anggota {
  float: left;
  width: 25%;
}
.anggota-icon {
  position: relative;
}
.anggota-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
}
.left-text{
  text-align: left;
  float: left;
  width: 50%;
  padding-top: 80px;
}
.left-icon img{
  position: absolute;
  height: 500px;
  width: 100%;
}
.left-text h1{
  position: relative;
  color: white;
  font-size: 50px;
  padding-left: 40px;
}
.left-text p{
  padding-left: 50px;
  color: white;
  position: relative;
  font-size: 20px;
}
.right{
  width: 100%;
  padding: 5px 0 10px 0;
}
.right a{
  position: relative;
  color: white;
  margin-top: 180px;
  margin-left: 190px;
}
.poster{
  border-bottom:1px solid #eee;
  padding-bottom:80px;
  padding-top: 80px;
  /*text-align:center;*/
}

.poster img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  font-size: 20px;
}
.btn:hover {
  opacity:1;
}
.btn:active{
  position: relative;
  top:7px;
  box-shadow: none;
}
.login {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor:pointer;
  box-shadow:0px 7px #1a7940;
}
.services-wrapper {
  height: 500px;
  text-align: center;
  margin: 15px;
}

.heading {
  padding-top: 20px;
}

.service {
  float: left;
  background-color: lightcyan;
  margin: 30px;
  padding: 20px;
  width: 27%;
  border-radius: 25px;
  box-shadow: 10px 10px;
}

.service-icon {
  background-color: lightskyblue;
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
}

.service-title {
  font-weight: bold;
  font-size: 23pt;
}

.txt-services {
  color: lightslategrey;
  font-weight: normal;
  font-size: 18pt;
}
footer {
  padding-top: 70px;
  padding-bottom: 40px;

}

.footer-logo {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.footer-list {
  text-align: center;
}

.footer-list ul{
  list-style: none;
  margin: auto;
  padding-right: 20px;

}

.footer-list ul li{
  display: inline-block;
  margin: 6px 0;
  margin-left: 40px;
  margin-right : 40px;
}

span {
  color: #0070C0;
}

.footer-copyright p{
  font-size: 10px;
  color: white;
  text-align: center;
  height: 30px;
  background-color: blue;
  padding-top: 15px;
}
.clear {
  clear: left;
}
.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;

}
