* {
  box-sizing: border-box;
}
.top-wrapper {
  padding-bottom: 220px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dcdde1;
  text-align: center;
}
.heading {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #000;
}
.heading h2 {
  font-weight: bold;
}
.anggota {
  float: left;
  width: 25%;
}
.anggota-icon {
  position: relative;
}
.anggota-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.ketua p{
  margin-bottom: 50px;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 15px auto;
}

.lingkaran1 img{
  width: 150px;
  height: 150px;
  background: #e84118;
  border-radius: 80%;
  padding: 5px 5px;
  display: block;
  margin:auto;
}
